:root {
    --text-title-color: #240046;
    --text-color: #333333D6;
}

html {
    /* 16px = 1rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Hỗ trợ in background */
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

.btn-base {
    background-color: rgba(255, 158, 0, 0.69);
    min-width: 120px;
    height: 34px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}