/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#header {
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 1px #888888;
}

.header_wrap {
    display: flex;
    height: 100%;
}

input[type="text"],
textarea {
    background-color: #D9D9D978;
    border: none;
}

.header__search {
    max-width: 300px;
    margin-top: 22.5px;
    align-items: center;
    height: 45px;
    background-color: #e3e3e3;
    border-radius: 6px;
}

.header__search-input {
    position: relative;
    max-width: 300px;
    height: 100%;
    border-radius: 6px;
    padding: 0 0 0 16px;
}

.header__search-icon {
    padding: 0 16px 0 10px;
}

.header__search-icon:hover {
    cursor: pointer;
}

.header__information-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.header__information-item {
    padding: 0 10px;
    position: relative;
}

.header__information-item:hover {
    cursor: pointer;
}

.header__information-item a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-title-color);
}

.header__information-info,
.header__information-setting {
    margin-top: 3px;
    padding: 0 8px;
    font-size: 1.2rem;
    display: inline-block;
}

.header__information-info,
.header__information-setting:hover {
    cursor: pointer;
}

.header__setting-list p {
    background-color: #e3e3e3;
    color: rgb(119, 119, 119);
    padding: 8px 0;
    left: 0;
    margin: 0;
}

.header__setting-list:hover p {
    cursor: text;
}

.header__setting-list,
.header__user-list {
    padding-top: 10px;
    text-align: center;
    width: 110px;
    padding-left: 0;
    position: absolute;
    background-color: #e3e3e3;
    top: calc(100% + 10px);
    right: 8px;
    z-index: 1;
    transform-origin: 90% 0%;
    animation: headerNotifyGrowth ease-in 0.1s;
    will-change: opacity, transform;
    border-radius: 5px;
    display: none;
}

.header__information-item:hover .header__setting-list,
.header__information-item:hover .header__user-list {
    display: block;
}

.header__setting-list::before,
.header__user-list::before {
    content: "";
    display: block;
    position: absolute;
    border: 17px solid;
    border-color: transparent transparent #e3e3e3 transparent;
    left: 73px;
    top: -26px;
}

.header__setting-item:hover,
.header__user-item:hover {
    background-color: #c1c1c1;
}

.header__setting-item,
.header__user-item {
    padding: 8px 0;
}

.header__setting-item:last-child,
.header__user-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#body {
    position: relative;
    top: 90px;
}

.body__slideshow-container {}

.body__slideshow {
    width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
}

.body__slideshow-background {
    position: relative;
}

.body__slideshow-background--img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.body__slideshow-logo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Search ticket */

.search__ticket {
    /* position: absolute; */
    top: 100%;
    width: 100%;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 20px;
}

.container {}

.search__ticket-header {
    color: var(--text-title-color);
}

.search__ticket-choose-wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.search__ticket-choose-direction {
    display: flex;
}

.search__ticket-choose-direction>img {
    display: block;
    margin: 0 50px;
}

.search__ticket-wrap-item {
    display: flex;
    align-items: center;
}

.search__ticket-choose {
    color: var(--text-title-color);
    align-items: center;
    display: flex;
    width: 300px;
    height: 40px;
    background-color: rgba(197, 197, 197, 0.5);
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
}

.search__ticket-choose:hover {
    cursor: pointer;
}

.search__ticket-choose-img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.search__ticket-choose-title {
    flex-grow: 3;
    padding-left: 20px;
}

.search__ticket-choose-icon {
    display: inline-block;
}

.search__ticket-submit {
    text-align: center;
    margin: 30px 0;
}


/* Available ticket */

.availableTicket-container {
    width: 100%;
}

.availableTicket-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-title-color);
    margin: 20px 0;
}

.availableTicket-header-title {
    font-weight: 700;
    align-items: center;
}

.availableTicket-header-choose {
    display: flex;
}

.availableTicket-header-choose__filter {
    background-color: rgba(197, 197, 197, 0.5);
    padding: 8px 24px;
    border-radius: 100px;
    margin-right: 10px;
}

.availableTicket-header-choose__sort {
    background-color: rgba(197, 197, 197, 0.5);
    padding: 8px 24px;
    border-radius: 100px;
}

.availableTicket-header-choose__filter:hover,
.availableTicket-header-choose__sort:hover {
    cursor: pointer;
}

.availableTicket-header-choose__filter img {
    width: 20px;
    height: 20px;
}

.ticket__information {
    height: 340px;
    padding: 20px 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.ticket__information-content {}

.ticket__information-img {
    width: 100%;
}

.ticket__information-description {}

.ticket__information-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket__car {
    display: flex;
    text-align: center;
    align-items: center;
}

.ticket__car-name {
    font-size: 37px;
    font-weight: bold;
    color: var(--text-title-color);
    margin-right: 20px;
}

.ticket__car-rate {
    height: 30px;
    line-height: 30px;
    color: white;
    width: 120px;
    border-radius: 8px;
    background-color: var(--text-title-color);
}

.ticket__car-type {
    font-weight: 400;
    font-size: 23px;
    margin: 12px 0;
}

.ticket__car-arrive,
.ticket__car-depart {
    display: flex;
    align-items: center;
}

.ticket__car-depart>i,
.ticket__car-depart-time {
    display: inline-block;
    color: var(--text-title-color);
    font-weight: 700;
    font-size: 38px;
}

.ticket__car-arrive>i,
.ticket__car-depart>i {
    margin-right: 8px;
}

.ticket__car-arrive-time,
.ticket__car-depart-time {
    margin-right: 10px;
}

.ticket__car-arrive-location,
.ticket__car-depart-location {
    display: inline-block;
    font-weight: 400;
    font-size: 25px;
}

.ticket__car-depart-period {
    height: 50px;
    font-size: 1.4rem;
    border-left: 1px solid #333;
    margin-left: 13px;
    line-height: 50px;
    padding-left: 26px
}

.ticket__car-arrive>i,
.ticket__car-arrive-time {
    display: inline-block;
    color: #FF9E00;
    font-weight: 700;
    font-size: 38px;
}

.ticket__information-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.ticket-wrap-price {
    display: flex;
    flex-direction: column;
}

.ticket-wrap-buy {
    display: flex;
    flex-direction: column;
}

.ticket-price {
    color: #FF9E00;
    font-weight: 700;
    font-size: 38px;
    text-align: right;
}

.ticket-price__more {
    font-size: 24px;
    color: #333;
    text-align: right;
}

.ticket-price__more:hover {
    cursor: pointer;
}

.ticket-left {
    text-align: center;
}

.ticket-buy:hover {
    background-color: #FF9E00;
}