<footer id="footer">
                <div class="container">
                    <div class="grid__row">
                        <div class="grid__column-2-4">
                            <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                            <ul class="footer__list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Trung tâm trợ giúp
                            </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Câu hỏi thường gặp
                            </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Hướng dẫn đặt vé
                            </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-2-4">
                            <h3 class="footer__heading">Giới thiệu</h3>
                            <ul class="footer__list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Giới thiệu
                            </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Tuyển dụng
                            </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Điều khoản
                            </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-2-4">
                            <h3 class="footer__heading">Danh mục</h3>
                            <ul class="footer__list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Vé combo
                            </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Vé sale
                            </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                Vé khứ hồi
                            </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-2-4">
                            <h3 class="footer__heading">Theo dõi</h3>
                            <ul class="footer__list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                        <i class="fab fa-facebook"></i> Facebook
                                    </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                        <i class="fab fa-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                        <i class="fa-brands fa-linkedin"></i> LinkedIn
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-2-4">
                            <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                            <div class="footer__download">
                                <img src=" /img/qr_code.png" alt="" class="footer__download-qr">
                                <div class="footer__download-apps">
                                    <img src=" /img/app_store.png" alt="App Store" class="footer__download-apps-img">
                                    <img src=" /img/google_play.png" alt="Google Play" class="footer__download-apps-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="policy">
                        <div class="policy__heading">
                            <div class="policy__heading-item">
                                <a href="" class="policy__heading-item-link">
                            CHÍNH SÁCH BẢO MẬT
                        </a>
                            </div>
                            <div class="policy__heading-item">
                                <a href="" class="policy__heading-item-link">
                            QUY CHẾ HOẠT ĐỘNG
                        </a>
                            </div>
                            <div class="policy__heading-item">
                                <a href="" class="policy__heading-item-link">
                            CHÍNH SÁCH ĐƯA ĐÓN
                        </a>
                            </div>
                        </div>
                        <div class="policy__heading-logo">
                            <img src=" /img/dadangki.png" alt="" class="policy__heading-logo-item__img">
                        </div>
                        <p class="policy__decription_heading">Công ty TNHH Ticket Take It</p>
                        <p class="policy__decription">Địa chỉ: Tòa I, trường Đại học Khoa học Tự nhiên Thành phố Hồ Chí Minh, 227 Nguyễn Văn Cừ, P4, Q5, TP Hồ Chí Minh, Việt Nam. Tổng đài hỗ trợ: 22446688 - Email: cskh@hotro.tickettakeit.vn</p>
                        <p class="policy__decription">Chịu Trách Nhiệm Quản Lý Nội Dung: Vũ Đức Dũng - Điện thoại liên hệ: 0399888999 (ext 4678)</p>
                        <p class="policy__decription">Mã số doanh nghiệp: 010677999 do Sở Kế hoạch & Đầu tư TP Hồ Chí Minh cấp lần đầu ngày 10/12/2022</p>
                        <p class="policy__decription">© 2022 - Bản quyền thuộc về Công ty TNHH Ticket Take It</p>
                    </div>
                </div>
            </footer>