<header id="header" class="container-fluid">
            <div class="header_wrap">
                <a href="/" class="header__logo">
                    <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
                </a>
                <form action="/bus" method="GET" class="header__search">
                    <input type="search" name="tennhaxe" class="header__search-input" placeholder="Tìm kiếm tên nhà xe...">
                    <i class="header__search-icon fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            <div class="header__information">
                <ul class="header__information-list">
                    <li id="register" class="header__information-item"><a href="/register">Đăng ký</a></li>
                    <li id="login" class="header__information-item"><a href="/login">Đăng nhập</a></li>
                    <li id="account" class="header__information-item"><a href="">{{name}}</a></li>
                    {{!-- <li class="header__information-item"><a href="/history">History</a></li> --}}
                    <!-- <li class="header__information-item">
                        <i class="header__information-info fa-solid fa-user-large"></i>
                        <ul class="header__user-list">
                            <li class="header__user-item btn-signup">
                                <a href="./signUp.html">Sign Up</a>
                            </li>
                            <li class="header__user-item btn-signin">
                                <a href="./signIn.html">Sign In</a>
                            </li>
                            <li class="header__user-item btn-history">
                                <a href="./history.html">History</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="header__information-item">
                        <i class="header__information-setting fa-solid fa-gear"></i>
                        <ul class="header__setting-list">
                            <span>Ngôn ngữ</span>
                            <li class="header__setting-item">
                                <a href="">English</a>
                            </li>
                            <li class="header__setting-item">
                                <a href="">Vietnamese</a>
                            </li>
                            <span class="accountSetting" >Account</span>
                            <li class="header__setting-item accountSetting">
                                <a href="">Settings</a>
                            </li>
                            <li class="header__setting-item accountSetting">
                                <a href="/history">History</a>
                            </li>
                            <li class="header__setting-item accountSetting">
                                <a href="/auth/logout">Logout</a>
                            </li>
                        </ul>
                        
                    </li>
                </ul>
            </div>
        </header>
