<div class="home">
                <div class="container">
                    <h4 class="home__popular-heading">Popular bus routes</h4>
                    <div class="home__popular">
                        <ul class="home__popular-list">
                            {{#each tuyenduong}}
                               <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src="{{hinhanh}}" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>{{tinhbatdau}} - {{tinhketthuc}}</p>
                                        <span>Từ {{giatu}}</span>
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                            
                            
                        </ul>
                    </div>

                    <h4 class="home__popular-heading">About</h4>
                    <div class="home__about">

                        <ul class="home__about-list">
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about1.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>Sài Gòn - Đà Lạt</p>
                                        <span>Từ 130.000</span>
                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about2.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>Sài Gòn - Đà Lạt</p>
                                        <span>Từ 130.000</span>
                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about3.jpg" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>Sài Gòn - Đà Lạt</p>
                                        <span>Từ 130.000</span>
                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about4.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>Sài Gòn - Đà Lạt</p>
                                        <span>Từ 130.000</span>
                                    </div>
                                </a>
                            </li>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about5.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>Sài Gòn - Đà Lạt</p>
                                        <span>Từ 130.000</span>
                                    </div>
                                </a>
                            </li>
                            <li class="home__popular-item">
                                <a href="">
                                    <div class="home__popular-item--img">
                                        <img src=" /img/about2.png" alt="">
                                    </div>
                                    <div class="home__popular-item--title">
                                        <p>Sài Gòn - Đà Lạt</p>
                                        <span>Từ 130.000</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>