<div class="search__ticket">
    <div class="container">
        <h5 class="search__ticket-header">Search Ticket</h5>
        <div class="search__ticket-choose-wrap">

            <div class="search__ticket-choose-direction">
                <div class="search__ticket-wrap-item">
                    <img src=" /img/mini_icon_location.png" alt="" class="search__ticket-choose-img">
                    <select class="search__ticket-choose">
                        {{!-- <option value="">Your location</option>
                        <option value="hochiminh">TP Hồ Chí Minh</option>
                        <option value="dalat">Đà Lạt</option>
                        <option value="vungtau">Vũng Tàu</option>
                        <option value="tayninh">Tây Ninh</option>
                        <option value="camau">Cà Mau</option>
                        <option value="hue">Huế</option> --}}
                        <option value="">Your location</option>
                        {{#each tuyenduongSearch}}
                        <option value="{{matinh}}">{{tentinh}}</option>
                        {{/each}}

                    </select>
                </div>
                <img src=" /img/mini_icon_direction.png" alt="">
                <div class="search__ticket-wrap-item">
                    <img src=" /img/mini_icon_destination.png" alt="" class="search__ticket-choose-img">
                    <select class="search__ticket-choose">
                        <option value="">Your destination</option>
                        {{!-- <option value="hochiminh">TP Hồ Chí Minh</option>
                        <option value="vungtau">Vũng Tàu</option>
                        <option value="dalat">Đà Lạt</option> --}}
                        {{#each tuyenduongSearch}}
                        <option value="{{matinh}}">{{tentinh}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="search__ticket-wrap-item">
                <img src=" /img/mini_icon_date.png" alt="" class="search__ticket-choose-img">
                <input type="date" id="date" name="date" class="search__ticket-choose">

                </input>
            </div>
        </div>
        <div class="search__ticket-submit">
            <button class="btn-base btn-search__ticket">
                Search
            </button>

        </div>
    </div>
</div>