<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
    <link rel="icon" href=" /img/logo_has_color.png" type="image/x-icon">
    <link rel="stylesheet" href=" /css/base.css">
    <link rel="stylesheet" href=" /css/confirmMail.css">
</head>

<body>
    <div class="modal-wrap">
        <div class="modal-background"></div>
        <div class="main">
            <div class="confirm">
                <img src="/img/confirmEmail.jpg" alt="">
                <p>Vui lòng bấm vào đường link trong email để xác thực</p>
                <a class="btn-base btn-resendEmail" href="">Gửi lại mail</a>
                <a href="/" class="modal-logo">
                    <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
                    <span>Về trang chủ</span>
                </a>
            </div>
        </div>
    </div>
    <script src="/js/account.js"></script>

</body>

</html>