<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <link rel="icon" href=" /img/logo_has_color.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6501cf2109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" /css/base.css">
    <link rel="stylesheet" href=" /css/forgetpassword.css">
</head>

<body>
    <div class="modal-wrap">
        <div class="modal-background"></div>
        <div class="main">
            <form class="form" id="forgotForm">
                <img src=" /img/reset_password.jpg" alt="">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading signin">
                        Quên mật khẩu
                    </h3>
                </div>

                <div class="send-email active">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <button type="submit"  class="btn-send form-submit">Gửi mail</button>
                </div>

                <div class="send-email-success">
                    <div class="title"><i class="fa-solid fa-circle-check"></i> Vui lòng kiểm tra email của bạn</div>
                    <div class="btn-resend form-submit">Nhập Email khác</div>
                </div>

                <a href="/" class="modal-logo">
                    <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
                    <span>Về trang chủ</span>
                </a>
            </form>
        </div>
    </div>
    <script src=" /js/forgetpassword.js"></script>

</body>

</html>