<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - TTI</title>
    <link rel="icon" href=" /img/logo_has_color.png" type="image/x-icon">

    <link rel="stylesheet" href=" /css/base.css">
    <link rel="stylesheet" href=" /css/signup.css">
</head>

<body>
    <div class="modal-wrap">
        <div class="modal-background"></div>
        <!-- <a href="index.html" class="modal-logo">
            <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
        </a> -->
        <div class="main signin">
            <form action="/auth/login" method="POST" class="form" id="form-1">

                <div class="auth-form__header">
                    <h3 class="auth-form__heading signin">
                        Đăng nhập
                    </h3>
                    <a href="/register" class="auth-form__switch-btn signup">Đăng kí</a>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                    <span class="form-message"></span>
                </div>

                <button type="submit" class="form-submit">Đăng nhập</button>
                <button type="button"  id="google-login-button" class="login-with-google-btn">
                    Đăng nhập với Google
                </button>
                <a href="/" class="modal-logo">
                    <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
                    <span>Về trang chủ</span>
                </a>
            </form>

        </div>

    </div>

    {{!-- <script src=" /js/activeHeading.js"></script>
    {{!-- <script src=" /js/account.js"></script> --}}
    <script src=" /js/signIn.js"></script> --}}
    <script src="/js/validator.js"></script>

    <script>
        //Output expect
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            rules: [
                Validator.isRequired('#email', 'Vui lòng không bỏ trống trường này'),
                Validator.isEmail('#email'),
                Validator.isRequired('#password', 'Vui lòng không bỏ trống trường này'),
                Validator.minLength('#password', 6),
            ],
        });

        document.getElementById('google-login-button').addEventListener('click', (e) => {
            window.location.href = '/auth/google'
        })

    </script>
</body>

</html>