<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Take It!</title>
    <link rel="icon" href="../public/img/logo_has_color.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/slider.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/buyTicket.css">
    <link rel="stylesheet" href="../public/css/queries.css">
    <link rel="stylesheet" href="../public/css/mobile.css">
    <link rel="stylesheet" href="../public/css/payment.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6501cf2109.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="app">
        <!-- Header -->
        <header id="header" class="container-fluid">
            <div class="header_wrap">
                <a href="index.html" class="header__logo px-5">
                    <img loading="lazy" src="../public/img/logo_has_color.png" alt="This is LOGO">
                </a>
            </div>
            <div class="header_time">
                <span class="header_time-label">Thời gian thanh toán còn lại</span>
                <span class="header_time-countdown">
                    07:13
                </span>
            </div>
        </header>
        <div class="row px-5"></div>
        <!-- Body -->
        <div id="body">
            <div class="tag">Phương thức thanh toán đa dạng, bảo mật</div>
            <!-- Home -->
            <div class="payment">
                <div class="payment_activity">
                    <h6 class="payment_activity-heading">Phương thức thanh toán</h6>
                    <div class="payment_activity-method py-2 px-1">
                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input type="radio" class="payment_choice" name="choice">
                                    <img src="../public/img/momo.svg" alt="momo_logo" class="px-2">
                                    <h7 class="payment_activity-method-label px-1">Thanh toán MoMo</h7>
                                </div>
                                <span>Điện thoại của bạn phải được cài đặt ứng dụng MoMo</span>
                            </div>
                        </div>
                        <hr>

                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input type="radio" class="payment_choice" name="choice">
                                    <img src="../public/img/zalo_pay.svg" alt="zalopay_logo" class="px-2">
                                    <h7 class="payment_activity-method-label px-1">Thanh toán ZaloPay</h7>
                                </div>
                                <span>Điện thoại của bạn phải được cài đặt ứng dụng ZaloPay</span>
                            </div>
                        </div>
                        <hr>

                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input type="radio" class="payment_choice" name="choice">
                                    <img src="../public/img/cash.png" alt="cash_logo" class="px-2 cash_logo">
                                    <h7 class="payment_activity-method-label px-1">Thanh toán tiền mặt</h7>
                                </div>
                                <span>Thanh toán tại nhà xe</span>
                            </div>
                        </div>
                    </div>

                    <div class="payment_price py-5">
                        <div class="line d-flex align-items-center justify-content-between">
                            <h6 class="payment_price-label">Tổng tiền</h6>
                            <h5 class="price">655.000đ</h5>
                        </div>
                        <div class="line d-flex align-items-center justify-content-between">
                            <span>Giá vé</span>
                            <h7 class="price_seat">655.000đ</h7>
                        </div>
                        <div class="line d-flex align-items-center justify-content-between">
                            <span>Số lượng</span>
                            <h7 class="number_of_seat">1</h7>
                        </div>
                        <div class="line d-flex align-items-center justify-content-between">
                            <span>Ghế/Giường</span>
                            <h7 class="seat_id">6A</h7>
                        </div>
                    </div>

                    <button class="payment_activity-pay">
                        THANH TOÁN
                    </button>
                </div>

                <div class="payment_info-route">
                    <h6 class="payment_info-route-heading">Thông tin chuyến đi</h6>
                    <div class="payment_info-route-user py-2 px-1">
                        <div class="payment_info-route--doing">
                            <div class="row">
                                <span>Hành khách</span>
                                <h7 class="payment_info-route-buyer py-2">Nguyễn Nhật Quỳnh</h7>
                            </div>
                            <div class="row">
                                <span>Số điện thoại</span>
                                <h7 class="payment_info-route-buyer py-2">0909372851</h7>
                            </div>
                            <div class="row">
                                <span>Email</span>
                                <h7 class="payment_info-route-buyer py-2">nhatquynh@gmail.com</h7>
                            </div>
                            <hr>
                            <div style="padding-right: 2rem;" class="row">
                                <span>Ghi chú</span>
                                <h7 class="payment_info-route-buyer py-2"></h7>
                            </div>
                            <hr>
                            <div class="row">
                                <span>Nhà xe</span>
                                <h7 class="payment_info-route-buyer py-2">Bình Minh Bus</h7>
                            </div>
                            <div class="row">
                                <span>Điểm đón (dự kiến)</span>
                                <h7 class="payment_info-route-buyer py-2">
                                    22:35 - 07/01/2023
                                    <br>VP Sài Gòn
                                </h7>
                            </div>
                            <div class="row">
                                <span>Điểm trả (dự kiến)</span>
                                <h7 class="payment_info-route-buyer py-2">
                                    22:35 - 07/01/2023
                                    <br>VP Sài Gòn
                                </h7>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Modal -->
        <div class="modal-wrap active">
            <div class="modal__overlay">
            </div>

            <div class="modal__body">
                <!-- Payment form -->
                <div class="payment-annoucement-form bg-white">
                    <div class="payment-annoucement-form-container modal__container-form active">
                        <div class="green-check-icon">
                            <img src="/client/public/img/green-check.png" alt="">
                        </div>
                        <div class="payment-success">Thanh toán thành công</div>
                        <div class="email">Thông tin vé xe của bạn đã được gửi đến email:</div>
                        <div class="email-address">Group7-WebDevelopment@gmail.com</div>
                        <div class="check-email">Vui lòng kiểm tra lại email của bạn.</div>
                        <div class="back-homepage">Quay lại trang chủ trong 5s!</div>
                        <button><a href="index.html">Quay lại trang chủ</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer" class="p-2">
            <p class="policy__decription">© 2022 - Bản quyền thuộc về Công ty TNHH Ticket Take It</p>
        </footer>

        <script src="../public/js/rangeSlider.js"></script>
        <script src="../public/js/activeHeading.js"></script>
        <script src="../public/js/account.js"></script>
        <script src="../public/js/slider.js"></script>
        <script src="../public/js/searchTicket.js"></script>
        <script src="../public/js/buyTicket.js"></script>
        <script src="../public/js/sortTicket.js"></script>
        <script src="../public/js/ticket_details.js"></script>
</body>

</html>