<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Take It!</title>
    <link rel="icon" href="../public/img/logo_has_color.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/slider.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/buyTicket.css">
    <link rel="stylesheet" href="../public/css/queries.css">
    <link rel="stylesheet" href="../public/css/mobile.css">
    <link rel="stylesheet" href="../public/css/payment.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6501cf2109.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="app">
        <!-- Header -->
        <header id="header" class="container-fluid">
            <div class="header_wrap">
                <a href="index.html" class="header__logo px-5">
                    <img loading="lazy" src="../public/img/logo_has_color.png" alt="This is LOGO">
                </a>
            </div>
            <div class="header_time">
                <span class="header_time-label">Thời gian thanh toán còn lại</span>
                <span class="header_time-countdown">
                    07:13
                </span>
            </div>
        </header>
        <div class="row px-5"></div>
        <!-- Body -->
        <div id="body">
            <div class="tag">Phương thức thanh toán đa dạng, bảo mật</div>
            <!-- Home -->
            <div class="payment">
                <div class="payment_activity">
                    <h6 class="payment_activity-heading">Phương thức thanh toán</h6>
                    <div class="payment_activity-method py-2">
                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input type="radio" class="payment_choice" name="choice">
                                    <img src="../public/img/momo.svg" alt="momo_logo" class="px-2">
                                    <h7 class="payment_activity-method-label px-1">Thanh toán MoMo</h7>
                                </div>
                                <span>Điện thoại của bạn phải được cài đặt ứng dụng MoMo</span>
                            </div>
                        </div>
                        <hr>

                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input type="radio" class="payment_choice" name="choice">
                                    <img src="../public/img/zalo_pay.svg" alt="zalopay_logo" class="px-2">
                                    <h7 class="payment_activity-method-label px-1">Thanh toán ZaloPay</h7>
                                </div>
                                <span>Điện thoại của bạn phải được cài đặt ứng dụng ZaloPay</span>
                            </div>
                        </div>
                        <hr>

                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input type="radio" class="payment_choice" name="choice">
                                    <img src="../public/img/cash.png" alt="cash_logo" class="px-2 cash_logo">
                                    <h7 class="payment_activity-method-label px-1">Thanh toán tiền mặt</h7>
                                </div>
                                <span>Thanh toán tại nhà xe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment_info-route">
                    <h6 class="payment_info-route-heading">Thông tin chuyến đi</h6>
                    <div class="payment_activity-method py-2">
                        <div class="payment_activity-method--momo">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
                   
        <!-- Footer -->
        <footer id="footer" class="p-2">
            <p class="policy__decription">© 2022 - Bản quyền thuộc về Công ty TNHH Ticket Take It</p>
        </footer>
            
        <script src="../public/js/rangeSlider.js"></script>
        <script src="../public/js/activeHeading.js"></script>
        <script src="../public/js/account.js"></script>
        <script src="../public/js/slider.js"></script>
        <script src="../public/js/searchTicket.js"></script>
        <script src="../public/js/buyTicket.js"></script>
        <script src="../public/js/sortTicket.js"></script>
        <script src="../public/js/ticket_details.js"></script>
</body>

</html>