<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Take It!</title>
    <link rel="icon" href=" /img/logo_has_color.png" type="image/x-icon">
    <link rel="stylesheet" href=" /css/base.css">
    <link rel="stylesheet" href=" /css/styles.css">
    <link rel="stylesheet" href=" /css/reset.css">
    <link rel="stylesheet" href=" /css/slider.css">
    <link rel="stylesheet" href=" /css/home.css">
    <link rel="stylesheet" href=" /css/buyTicket.css">
    <link rel="stylesheet" href=" /css/queries.css">
    <link rel="stylesheet" href=" /css/mobile.css">
    <link rel="stylesheet" href=" /css/payment.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6501cf2109.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="app">
        <!-- Header -->
        <header id="header" class="container-fluid">
            <div class="header_wrap">
                <div id="backHome" class="header__logo px-5" style="cursor: pointer;">
                    <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
                </div>
            </div>
            <div class="header_time">
                <span class="header_time-label">Thời gian thanh toán còn lại</span>
                <span id="counter" class="header_time-countdown">
                    07:13
                </span>
            </div>
        </header>
        <div class="row px-5"></div>
        <!-- Body -->
        <div id="body">
            <div class="tag">Phương thức thanh toán đa dạng, bảo mật</div>
            <!-- Home -->
            <div class="payment">
                <div class="payment_activity">
                    <h6 class="payment_activity-heading">Phương thức thanh toán</h6>
                    <div class="payment_activity-method py-2 px-1">
                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input id="momo" type="radio" class="payment_choice" name="choice">
                                    <img src=" /img/momo.svg" alt="momo_logo" class="px-2">
                                    <label style="cursor: pointer;" for="momo" class="payment_activity-method-label px-1">Thanh toán MoMo</label>
                                </div>
                                <span>Điện thoại của bạn phải được cài đặt ứng dụng MoMo</span>
                            </div>
                        </div>
                        <hr>

                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input id="zalo" type="radio" class="payment_choice" name="choice">
                                    <img src=" /img/zalo_pay.svg" alt="zalopay_logo" class="px-2">
                                    <label style="cursor: pointer;" for="zalo" class="payment_activity-method-label px-1">Thanh toán ZaloPay</label>
                                </div>
                                <span>Điện thoại của bạn phải được cài đặt ứng dụng ZaloPay</span>
                            </div>
                        </div>
                        <hr>

                        <div class="payment_activity-method--doing">
                            <div class="row">
                                <div class="payment_edit">
                                    <input id="cash" type="radio" class="payment_choice" name="choice">
                                    <img src=" /img/cash.png" alt="cash_logo" class="px-2 cash_logo">
                                    <label style="cursor: pointer;" for="cash" class="payment_activity-method-label px-1">Thanh toán tiền mặt</label>
                                </div>
                                <span>Thanh toán tại nhà xe</span>
                            </div>
                        </div>
                    </div>

                    <div id="payment-price" class="payment_price py-5">
                        <div class="line d-flex align-items-center justify-content-between">
                            <h6 class="payment_price-label">Tổng tiền</h6>
                            <h5 class="price">đ</h5>
                        </div>
                        <div class="line d-flex align-items-center justify-content-between">
                            <span>Giá vé</span>
                            <h7 class="price_seat">đ</h7>
                        </div>
                        <div class="line d-flex align-items-center justify-content-between">
                            <span>Số lượng</span>
                            <h7 class="number_of_seat"></h7>
                        </div>
                        <div class="line d-flex align-items-center justify-content-between">
                            <span>Ghế/Giường</span>
                            <h7 class="seat_id"></h7>
                        </div>
                    </div>

                    <button id="payment-btn" class="payment_activity-pay payment_activity-pay-disabled" disabled>
                        THANH TOÁN
                    </button>
                </div>

                <div class="payment_info-route">
                    <h6 class="payment_info-route-heading">Thông tin chuyến đi</h6>
                    <div class="payment_info-route-user py-2 px-1">
                        <div id="client-infor" class="payment_info-route--doing">
                            <div class="row">
                                <span>Hành khách</span>
                                <h7 id="name" class="payment_info-route-buyer py-2"></h7>
                            </div>
                            <div class="row">
                                <span>Số điện thoại</span>
                                <h7 id="phone" class="payment_info-route-buyer py-2"></h7>
                            </div>
                            <div class="row">
                                <span>Email</span>
                                <h7 id="email" class="payment_info-route-buyer py-2"></h7>
                            </div>
                            <hr>
                            <div style="padding-right: 2rem;" class="row">
                                <span>Ghi chú</span>
                                <h7 id="note" class="payment_info-route-buyer py-2"</h7>
                            </div>
                            <hr>
                            <div class="row">
                                <span>Nhà xe</span>
                                <h7 id="nhaxe" class="payment_info-route-buyer py-2"></h7>
                            </div>
                            <div class="row">
                                <span>Điểm đón (dự kiến)</span>
                                <h7 id="batdau" class="payment_info-route-buyer py-2">
                               
                                <br><span ></span>  
                                </h7>
                            </div>
                            <div class="row">
                                <span>Điểm trả (dự kiến)</span>
                                <h7 id="ketthuc" class="payment_info-route-buyer py-2">
                               
                                <br><span ></span>
                                </h7>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


         <!--Modal -->
        <div class="modal-wrap">
            <div class="modal__overlay">
            </div>

            <div class="modal__body">
                <!-- Payment form -->
                <div class="payment-annoucement-form bg-white">
                    <div class="payment-annoucement-form-container modal__container-form active">
                        <div class="green-check-icon">
                            <img src=" /img/green-check.png" alt="">
                        </div>
                        <div class="payment-success">Thanh toán thành công</div>
                        <div class="email">Thông tin vé xe của bạn đã được gửi đến email:</div>
                        <div id="email-send" class="email-address"></div>
                        <div class="check-email">Vui lòng kiểm tra lại email của bạn.</div>
                        <div class="back-homepage">Quay lại trang chủ trong <span id="time-to-back">10</span> s!</div>
                        <button><a href="/">Quay lại trang chủ</a></button>
                    </div>
                </div>
            </div>
        </div>

         <div class="modal fade" id="waiting-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #ffb43b;color: rgba(36, 0, 70, 1);">
                        <h5 class="modal-title fw-bold" id="noti-title">Thực hiện thanh toán</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="noti-body" class="modal-body">
                        <h5 class="text-center">Vui lòng chọn một phương thức thanh toán</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
                   
        <!-- Footer -->
        <footer id="footer" class="p-2">
            <p class="policy__decription">© 2022 - Bản quyền thuộc về Công ty TNHH Ticket Take It</p>
        </footer>
            
     

        <script src="/js/payment.js"></script>
</body>

</html>