<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng kí TTI</title>
    <link rel="icon" href=" /img/logo_has_color.png" type="image/x-icon">
    <link rel="stylesheet" href=" /css/base.css">
    <link rel="stylesheet" href=" /css/signup.css">

</head>

<body>
    <div class="modal-wrap">
        <div class="modal-background"></div>

        <div class="main signup">


            <form action="/auth/register" method="POST" class="form" id="form-1">

                <div class="auth-form__header">
                    <h3 class="auth-form__heading">
                        Đăng kí
                    </h3>
                    <a href="/login" class="auth-form__switch-btn signup">Đăng nhập</a>
                </div>

                <div class="form-group">
                    <label for="fullname" class="form-label">Tên đầy đủ</label>
                    <input id="fullname" name="fullname" type="text" placeholder="VD: Vũ Đức Dũng" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
                    <input id="password_confirmation" name="password_confirmation" placeholder="Nhập lại mật khẩu" type="password" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <span class="form-message" style="font-size:1.3rem;color:red">{{register_error}}</span>
                </div>

                {{!-- <div class="form-group">
                    <label for="avatar" class="form-label">Ảnh đại diện</label>
                    <input id="avatar" name="avatar" type="file" class="form-control">
                    <span class="form-message"></span>
                </div> --}}

                <button type="submit" class="form-submit">Đăng ký</button>
                <button type="button" class="login-with-google-btn">
                    Đăng kí với Google
                </button>

                <a href="/" class="modal-logo">
                    <img loading="lazy" src=" /img/logo_has_color.png" alt="This is LOGO">
                    <span>Về trang chủ</span>
                </a>


            </form>

        </div>
    </div>
    {{!-- <script src=" /js/account.js"></script> --}}
    <script src="/js/validator.js"></script>

    <script>
        //Output expect
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            rules: [
                Validator.isRequired('#fullname', 'Vui lòng nhập họ tên đầy đủ của bạn'),
                Validator.isRequired('#email', 'Vui lòng không bỏ trống trường này'),
                Validator.isEmail('#email'),
                Validator.isRequired('#password', 'Vui lòng không bỏ trống trường này'),
                Validator.minLength('#password', 6),
                Validator.isRequired('#password_confirmation', 'Vui lòng không bỏ trống trường này'),
                Validator.isConfirm('#password_confirmation', function() {
                    return document.querySelector('#form-1 #password').value;
                }, 'Mật khẩu không trùng khớp'),
                
            ],
        });
    </script>
</body>

</html>