<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TT Admin - Xóa chuyến xe</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

       {{>sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {{>topbar}}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="group d-flex flex-row d-flex justify-content-between">
                        <h1 class="h3 mb-2 text-gray-800">Xóa chuyến xe</h1>
                        <div class="group-button">
                            <button class="save-btn btn-danger px-4 mb-2 mr-2">Xóa</button>
                            <button class="save-btn btn-info px-4 mb-2">Trở về</button>
                        </div>
                    </div>

                    <p class="mb-4">Vui lòng nhập thông tin chuyến xe.</p>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="card shadow mb-4 w-100">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Thông tin chuyến xe</h6>
                            </div>
                            <div class="card-body">
                                <div class="garage-info">
                                    <div class="garage-info__group">
                                        <label for="idRoute" class="py-2 text-dark">Mã chuyến xe<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50 ml-5" placeholder="" name="idRoute" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="idGarage" class="py-2 text-dark">Mã nhà xe<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left: 73px;" placeholder="" name="idGarage" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="startPlace" class="py-2 text-dark">Điểm khởi hành<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left: 36px;" placeholder="" name="startPlace" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="endPlace" class="py-2 text-dark">Điểm kết thúc<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50 ml-5" placeholder="" name="endPlace" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="startTime" class="py-2 text-dark">Thời gian khởi hành<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50 ml-2" placeholder="" name="startTime" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="endTime" class="py-2 text-dark">Thời gian kết thúc<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left: 19px;" placeholder="" name="endTime" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="numberSeat" class="py-2 text-dark">Số ghế<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="number" class="garage-info__input w-50" style="margin-left: 97px;" placeholder="" name="numberSeat" min="0" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="img" class="py-2 text-dark">Hình ảnh<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="file" class="garage-info__input w-50" style="margin-left:81px;" id="img" name="img" accept="image/*">
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="typeBus" class="py-2 text-dark">Loại xe<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="tel" class="garage-info__input w-50" style="margin-left:95px;" placeholder="" name="typeBus" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="description" class="py-2 text-dark">Mô tả<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left:105px;" placeholder="" name="description" required>
                                    </div>
                                    <div class="garage-info__group">
                                        <label for="price" class="py-2 text-dark">Giá vé<code style="color: red; font-weight: 700;">*</code></label>
                                        <input type="text" class="garage-info__input w-50" style="margin-left:100px;" placeholder="" name="price" required>
                                    </div>
                                    <div class="table-responsive">
                                        <label for="see" class="py-2 text-dark">Xem</label>
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Mã chuyến xe</th>
                                                    <th>Mã nhà xe</th>
                                                    <th>Địa điểm khởi hành</th>
                                                    <th>Địa điểm kết thúc</th>
                                                    <th>Thời gian khởi hành</th>
                                                    <th>Thời gian kết thúc</th>
                                                    <th>Số ghế</th>
                                                    <th>Loại xe</th>
                                                    <th>Mô tả</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Giá vé</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Mã chuyến xe</th>
                                                    <th>Mã nhà xe</th>
                                                    <th>Địa điểm khởi hành</th>
                                                    <th>Địa điểm kết thúc</th>
                                                    <th>Thời gian khởi hành</th>
                                                    <th>Thời gian kết thúc</th>
                                                    <th>Số ghế</th>
                                                    <th>Loại xe</th>
                                                    <th>Mô tả</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Giá vé</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>Mã chuyến xe</td>
                                                    <td>Mã nhà xe</td>
                                                    <td>Địa điểm khởi hành</td>
                                                    <td>Địa điểm kết thúc</td>
                                                    <td>thời gian khởi hành</td>
                                                    <td>thời gian kết thúc</td>
                                                    <td>Số ghế</td>
                                                    <td>Loại xe</td>
                                                    <td>Mô tả</td>
                                                    <td>Hình ảnh</td>
                                                    <td>Giá vé</td>
                                                </tr>
                                                <tr>
                                                    <td>Mã chuyến xe</td>
                                                    <td>Mã nhà xe</td>
                                                    <td>Địa điểm khởi hành</td>
                                                    <td>Địa điểm kết thúc</td>
                                                    <td>thời gian khởi hành</td>
                                                    <td>thời gian kết thúc</td>
                                                    <td>Số ghế</td>
                                                    <td>Loại xe</td>
                                                    <td>Mô tả</td>
                                                    <td>Hình ảnh</td>
                                                    <td>Giá vé</td>
                                                </tr>
                                                <tr>
                                                    <td>Mã chuyến xe</td>
                                                    <td>Mã nhà xe</td>
                                                    <td>Địa điểm khởi hành</td>
                                                    <td>Địa điểm kết thúc</td>
                                                    <td>thời gian khởi hành</td>
                                                    <td>thời gian kết thúc</td>
                                                    <td>Số ghế</td>
                                                    <td>Loại xe</td>
                                                    <td>Mô tả</td>
                                                    <td>Hình ảnh</td>
                                                    <td>Giá vé</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        {{>logoutmodal}}

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>