<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TT Admin - Cập nhật đặt chỗ</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{>sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {{>topbar}}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="group d-flex flex-row d-flex justify-content-between">
                        <h1 class="h3 mb-2 text-gray-800">Cập nhật đặt chỗ</h1>
                        <div class="group-button">
                            <button class="save-btn btn-primary px-4 mb-2 mr-2">Cập nhật</button>
                            <button class="save-btn btn-info px-4 mb-2">Trở về</button>
                        </div>
                    </div>

                    <p class="mb-4">Vui lòng nhập thông tin đặt chỗ.</p>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="card shadow mb-4 w-100">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Thông tin đặt chỗ</h6>
                            </div>
                            <div class="card-body">
                                <div class="seat-info">
                                    <div class="seat-info__group">
                                        <label for="idticket" class="py-2 text-dark">Mã vé</label>
                                        <input type="text" class="seat-info__input w-25 ml-5" placeholder="" name="idticket" required>
                                    </div>
                                    <div class="seat-info__group">
                                        <label for="route" class="py-2 text-dark">Chuyến xe</label>
                                        <input type="text" class="seat-info__input w-25 ml-3" placeholder="" name="route" required>
                                    </div>
                                    <div class="seat-info__group">
                                        <label for="numberseat" class="py-2 text-dark">Số lượng ghế</label>
                                        <input type="number" class="seat-info__input w-25" placeholder="" name="numberseat" min="0" required>
                                    </div>
                                    <br>
                                    <h7>Thông tin liên lạc</h7>
                                    <div class="seat-info__group px-3">
                                        <br>
                                        <label for="name" class="py-2 text-dark">Họ và tên</label>
                                        <input type="text" class="seat-info__input w-25" style="margin-left:32px;" placeholder="" name="name" required>
                                    </div>
                                    <div class="seat-info__group px-3">
                                        <label for="email" class="py-2 text-dark">Email</label>
                                        <input type="email" class="seat-info__input w-25" style="margin-left:62px;" placeholder="" name="email" required>
                                    </div>
                                    <div class="seat-info__group px-3">
                                        <label for="phone" class="py-2 text-dark">Số điện thoại</label>
                                        <input type="tel" class="seat-info__input w-25" style="margin-left:10px;" placeholder="" name="phone" required>
                                    </div>
                                    <br>
                                    <div class="seat-info__group">
                                        <label for="pay" class="py-2 text-dark">Tổng tiền</label>
                                        <input type="tel" class="seat-info__input w-25" style="margin-left:36px;" placeholder="" name="pay" required>
                                    </div>
                                    <div class="seat-info__group">
                                        <label for="condition" class="py-2 text-dark">Tình trạng</label>
                                        <input type="tel" class="seat-info__input w-25" style="margin-left:32px;" placeholder="" name="condition" required>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>