#body {
    margin: 25px 90px;
}

.header_time {
    display: flex;
    flex-direction: column;
    padding: 0 55px;
}

.header_time-label {

}

.header_time-countdown {
    font-size: 18px;
    font-weight: 700;
    color: red;
    text-align: center;
}

.tag {
    width: fit-content;
    height: auto;
    padding: 8px 8px;
    border-radius: 8px;
    background-color: rgba(36,0,70,0.2);
    color:  rgba(36,0,70,1);
}

.payment {
    display: flex;
    justify-content: space-between;
}

.payment_activity,
.payment_info-route {
    margin: 25px 0;

}

.payment_activity {
    flex: 2;
}

.payment_info-route {
    flex: 1;    
}

.payment_activity-heading {
    
}

.payment_activity-method {
    border: 1px solid rgba(0,0,0,0.1);
    
}

.payment_activity-method--doing {
    padding: 12px 12px;
}

.payment_edit {
    display: flex;
    align-items: center;
}

.payment_choice {
    width: 18px;
    height: 18px;
}

.row span {
    margin-left: 28px;
    margin-top: 6px;
    flex-wrap: wrap;
    color: rgba(0,0,0,0.7)
}

.cash_logo {
    width: 40px;
    height: auto;
}