#body {
    margin: 25px 90px;
}

.header_time {
    display: flex;
    flex-direction: column;
    padding: 0 55px;
}

.header_time-label {

}

.header_time-countdown {
    font-size: 18px;
    font-weight: 700;
    color: red;
    text-align: center;
}

.tag {
    width: fit-content;
    height: auto;
    padding: 8px 8px;
    border-radius: 8px;
    background-color: rgba(36,0,70,0.2);
    color:  rgba(36,0,70,1);
}

.payment {
    display: flex;
    justify-content: space-between;
}

.payment_activity,
.payment_info-route {
    margin: 25px 0;

}

.payment_activity {
    flex: 2;
}

.payment_info-route {
    flex: 1;
}

.payment_activity-heading {
    
}

.payment_activity-method--momo {
}

.momo {
    display: flex;
}

.payment_choice {
}