/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moreInformation {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

@keyframes slidey {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header {
    height: 90px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 2px #888888;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.header_wrap {
    display: flex;
    height: 100%;
}

input[type="text"].header__search-input,
textarea {
    background-color: #D9D9D978;
    border: none;
}

.header__logo {
    display: inline-block;
}

.header__search {
    max-width: 300px;
    margin-top: 22.5px;
    align-items: center;
    height: 45px;
    background-color: #e3e3e3;
    border-radius: 6px;
}

.header__search-input {
    position: relative;
    max-width: 300px;
    height: 100%;
    border-radius: 6px;
    padding: 0 0 0 16px;
}

.header__search-icon {
    padding: 0 16px 0 10px;
}

.header__search-icon:hover {
    cursor: pointer;
}

.header__information-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.header__information-item {
    padding: 0 10px;
    position: relative;
}

.header__information-item:hover {
    cursor: pointer;
}

.header__information-item a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-title-color);
}

.header__information-info,
.header__information-setting {
    margin-top: 3px;
    padding: 0 8px;
    font-size: 1.2rem;
    display: inline-block;
}

.header__information-info,
.header__information-setting:hover {
    cursor: pointer;
}

.header__setting-list p {
    background-color: #e3e3e3;
    color: rgb(119, 119, 119);
    padding: 8px 0;
    left: 0;
    margin: 0;
}

.header__setting-list:hover p {
    cursor: text;
}

.header__setting-list,
.header__user-list {
    padding-top: 10px;
    text-align: center;
    width: 110px;
    padding-left: 0;
    position: absolute;
    background-color: #e3e3e3;
    top: calc(100% + 10px);
    right: 8px;
    z-index: 4;
    transform-origin: 90% 0%;
    animation: headerNotifyGrowth ease-in 0.1s;
    will-change: opacity, transform;
    border-radius: 5px;
    display: none;
}

.header__information-item:hover .header__setting-list,
.header__information-item:hover .header__user-list {
    display: block;
}

.header__setting-list::before,
.header__user-list::before {
    content: "";
    display: block;
    position: absolute;
    border: 17px solid;
    border-color: transparent transparent #e3e3e3 transparent;
    left: 73px;
    top: -26px;
}

.header__setting-item:hover,
.header__user-item:hover {
    background-color: #c1c1c1;
}

.header__setting-item,
.header__user-item {
    padding: 8px 0;
}

.header__setting-item:last-child,
.header__user-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#body {
    position: relative;
    top: 90px;
}

.body__slideshow-container {}

.body__slideshow {
    width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
}

.body__slideshow-background {
    position: relative;
}

.body__slideshow-background--img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.body__slideshow-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel {}

.carousel-inner {
    background-color: rgb(202, 202, 202);
}

.carousel-item {
    height: 500px;
    animation: slidey ease 1.5s;
}

.carousel-item img {
    height: 100%;
}


/* Search ticket */

.search__ticket {
    /* position: absolute; */
    top: 100%;
    width: 100%;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 20px;
}

.container {}

.search__ticket-header {
    color: var(--text-title-color);
}

.search__ticket-choose-wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.search__ticket-choose-direction {
    display: flex;
}

.search__ticket-choose-direction>img {
    display: block;
    margin: 0 50px;
}

.search__ticket-wrap-item {
    display: flex;
    align-items: center;
}

.search__ticket-choose {
    color: var(--text-title-color);
    align-items: center;
    display: flex;
    width: 300px;
    height: 40px;
    background-color: rgba(197, 197, 197, 0.5);
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
}

.search__ticket-choose:hover {
    cursor: pointer;
}

.search__ticket-choose-img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.search__ticket-choose-title {
    flex-grow: 3;
    padding-left: 20px;
}

.search__ticket-choose-icon {
    display: inline-block;
}

.search__ticket-submit {
    text-align: center;
    margin: 30px 0;
}

.btn-search__ticket {}


/* Available ticket */

.availableTicket-container {
    width: 100%;
}

.availableTicket-container.disabled {
    display: none;
}

.availableTicket-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-title-color);
    margin: 20px 0;
}

.availableTicket-header-title {
    font-weight: 700;
    align-items: center;
}

.availableTicket-header-choose {
    display: flex;
}

.availableTicket-header-choose__filter {
    background-color: rgba(197, 197, 197, 0.5);
    padding: 8px 24px;
    border-radius: 100px;
    margin-right: 10px;
}

.availableTicket-header-choose__sort {
    background-color: rgba(197, 197, 197, 0.5);
    padding: 8px 24px;
    border-radius: 100px;
    position: relative;
}

.availableTicket-header-choose__filter:hover,
.availableTicket-header-choose__sort:hover {
    cursor: pointer;
}

.availableTicket-header-choose__filter img {
    width: 20px;
    height: 20px;
}

.availableTicket-location-list {
    position: absolute;
    top: 50px;
    left: -175px;
    background-color: white;
    width: 300px;
    border: 1px solid #333;
    padding-top: 20px;
    border-radius: 3px;
    transform-origin: 90% 0%;
    animation: headerNotifyGrowth ease-in 0.1s;
    will-change: opacity, transform;
    display: none;
}

.availableTicket-location-list::before {
    content: "";
    height: 30px;
    width: 250px;
    top: -15px;
    left: 48px;
    display: block;
    position: absolute;
}

.availableTicket-header-choose__sort:hover .availableTicket-location-list {
    display: block;
}

.availableTicket__sort-list {
    padding: 5px 0 5px 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

.availableTicket__sort-list:hover {
    cursor: text;
}

.availableTicket__sort-item {
    width: calc(300px -2px);
    margin-left: -20px;
    font-size: 1.2rem;
    padding: 8px 30px;
    font-weight: 400;
}

.availableTicket__sort-item:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

.ticket__information {
    min-height: 250px;
    padding: 20px 20px;
    border: 1px solid rgb(68, 61, 61);
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.ticket__information-content {}

.ticket__information-img {
    max-height: 220px;
}

.ticket__information-img img {
    height: 100%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-ticket-down {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

.more-ticket-down:hover {
    cursor: pointer;
    /* background-color: #ccb1de; */
}

.ticket__information-description {}

.ticket__information-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket__car {
    display: flex;
    text-align: center;
    align-items: center;
}

.ticket__car-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-title-color);
    margin-right: 20px;
}

.ticket__car-rate {
    height: 30px;
    line-height: 30px;
    color: white;
    width: 120px;
    border-radius: 8px;
    background-color: var(--text-title-color);
}

.ticket__car-type {
    font-weight: 400;
    font-size: 23px;
    margin: 12px 0;
}

.ticket__car-arrive,
.ticket__car-depart {
    display: flex;
    align-items: center;
}

.ticket__car-depart>i,
.ticket__car-depart-time {
    display: inline-block;
    color: var(--text-title-color);
    font-weight: 700;
    font-size: 1.8rem;
}

.ticket__car-arrive>i,
.ticket__car-depart>i {
    margin-right: 8px;
}

.ticket__car-arrive-time,
.ticket__car-depart-time {
    margin-right: 10px;
}

.ticket__car-arrive-location,
.ticket__car-depart-location {
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
}

.ticket__car-depart-period {
    height: 30px;
    font-size: 1.1rem;
    border-left: 1px solid #333;
    margin-left: 13px;
    line-height: 30px;
    padding-left: 26px
}

.ticket__car-arrive>i,
.ticket__car-arrive-time {
    display: inline-block;
    color: #FF9E00;
    font-weight: 700;
    font-size: 1.8rem;
}

.ticket-wrap-price {
    display: flex;
    flex-direction: column;
}

.ticket-wrap-buy {
    display: flex;
    flex-direction: column;
}

.ticket-price {
    color: #FF9E00;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: right;
}

.ticket-price__more {
    font-size: 1.2rem;
    color: #333;
    text-align: right;
}

.ticket-price__more:hover {
    cursor: pointer;
}

.ticket-left {
    text-align: center;
}

.ticket-buy:hover {
    background-color: #53316e;
}


/* Footer */

#footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 46px;
    padding-bottom: 40px;
    background-color: #ffb43b;
    position: relative;
    top: 150px;
}

#footer .container {
    padding: 0;
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-title-color);
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer-item {}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-title-color);
    font-size: 1.2rem;
    padding: 8px 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
}

.footer__download-apps-img {
    height: 25px;
}


/* Policy */

.footer__bottom {
    /* background: #f5f5f5; */
}

.policy {
    /* background: #f5f5f5; */
}

.policy__heading {
    display: flex;
    justify-content: center;
}

.policy__heading-item {
    /* padding: 20px 30px; */
    font-size: 1rem;
    margin: 40px 0px;
    padding: 0px 25px;
    border-right: 1px solid rgba(0, 0, 0, .09);
}

.policy__heading-item:last-child {
    border-right: none;
}

.policy__heading-item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .65);
}

.policy__heading-item-link:hover {
    color: rgba(31, 31, 31, 0.65);
}

.policy__heading-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.policy__heading-logo-item__img {
    display: block;
    width: 300px;
}

.policy__decription_heading {
    text-align: center;
    font-size: 1rem;
}

.policy__decription {
    text-align: center;
    font-size: 1rem;
    padding: 11px 0;
    margin: 0;
}


/* Authen modal */

.btn-modal {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.btn-modal.btn--size-s {
    height: 34px;
    font-size: 1rem;
    padding: 0 8px;
}

.auth-form {
    width: 600px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.auth-form__container {
    padding: 0 36px;
}

.auth-form__header {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-title-color);
    cursor: pointer;
}

.auth-form__form {
    /* margin-top: 16px; */
}

.auth-form__group {}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid #333;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 16px;
    padding: 0 10px;
    margin-bottom: 80px;
}

.auth-form__policy {
    line-height: 1.6rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--text-title-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #DFDFDF;
    display: flex;
    justify-content: space-around;
    padding: 18px 28px;
    /* margin: 8px 20px; */
    /* border-radius: 5px; */
}

.btn--with-icon {
    min-width: 120px;
    text-decoration: none;
    color: var(--black-color);
    background-color: #y;
}

.auth-form__socials-icon {
    font-size: 1.6rem;
}

.auth-form__socials--facebook {
    color: #fff;
    background-color: #3A5A98;
}

.auth-form__socials--facebook:hover {
    color: white;
}

.auth-form__socials-title {
    margin: 0 24px;
}

.auth-form__socials--google {
    color: #666;
    background-color: #fff;
}

.auth-form__socials--google:hover {
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-separate {
    display: block;
    height: 12px;
    margin: 0 16px 2px 16px;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-link {
    text-decoration: none;
    weight: 600;
    font-size: 1.2rem;
}

.auth-form__help-forget {
    color: var(--primary-color);
}

.auth-form__help-need {
    color: #939393;
}

.auth-form__aside-img {
    display: flex;
    justify-content: center;
}

.btn--signUp {
    color: #fff;
    background-color: var(--text-title-color);
    font-size: 1rem;
}


/* Filter Right */

.filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #D9D9D945;
    box-shadow: 0px 2px #888888;
}

.filter__header h2 {
    padding-left: 20px;
    color: var(--text-title-color);
}

.filter__header span {
    display: block;
    padding-right: 20px;
    text-decoration: underline;
    color: #4f4f4f;
}

.filter__header span:hover {
    cursor: pointer;
    color: #262626;
}

.filter__header span i {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 20px;
    padding: 5px;
}

.filter__departureTime {}

.filter__departureTime-list {
    display: flex;
    flex-wrap: wrap;
}

.filter__departureTime-item {
    text-align: center;
    background-color: rgba(217, 217, 217, 0.3);
    width: 140px;
    height: 90px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.filter__departureTime-item--active {
    background-color: rgba(100, 100, 100, 0.3);
}

.filter__departureTime-item:hover {
    cursor: pointer;
}

.filter__departureTime-title {
    color: var(--text-title-color);
    font-weight: bold;
}

.filter__departureTime-time {}

.filter__departureGarage {}

.filter__departureGarage-list {
    /* display: flex;
    flex-direction: column; */
}

.filter__departureGarage-item,
.filter__departurePickupLocation-item,
.filter__departureDropOffLocation-item,
.filter__departureVehical-item {
    margin-bottom: 16px;
}

.filter__departureNumberOfSeat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__departureNumberOfSeat--choose {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    font-size: 1.2rem;
    font-weight: bold;
}

.up,
.down {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #ffb43b;
    border-radius: 100%;
}

.up:hover,
.down:hover {
    cursor: pointer;
    background-color: #fca71e;
}

.filter__apply {
    width: 100%;
    height: 50px;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
    background-color: var(--text-title-color);
    border-radius: 100px;
}

.filter__apply:hover {
    background-color: #53316e;
}

.filter__apply i {
    margin-left: 10px;
    line-height: 40px;
}


/* More information */

.active {}

.ticket__information-details {
    border-top: 1px solid #333;
    margin-top: 30px;
    display: none;
    animation: moreInformation ease 0.3s;
}

.ticket__information-details.active {
    display: block;
}

.ticket__information-details-heading {
    height: 40px;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.ticket__information-details-heading .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: #53316e;
    transition: all 0.3s ease;
}

.ticket__information-details-heading-item {
    min-width: 100px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.ticket__information-details-heading-item:hover {
    background-color: #dabff0;
    border-color: #ceafe7;
    cursor: pointer;
}

.image-detail {
    margin-top: 10px;
}

.image-heading {
    display: flex;
    justify-content: space-between;
}

.image-heading h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-title-color);
}

.image-heading p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-title-color);
}

.image-heading p a {
    text-decoration: none;
    color: #ffb43b;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-mainImage {
    max-height: 500px;
}

.image-content-mainImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.utility-detail {
    margin-top: 10px;
}

.view-list {
    padding-left: 0;
}

.view-item {
    background: rgba(217, 217, 217, 0.42);
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 15px;
}

.view-item__heading {
    font-size: 1.2rem;
    font-weight: 600;
}

.view-item__heading i {
    color: #ffb43b;
}

.view-item__content {}

.content-detail {
    display: none;
}

.content-detail.active {
    display: block;
}

.route-detail__note {
    padding: 10px 50px;
    font-size: 1rem;
}

.route-detail__note span {
    font-size: 1.2rem;
    font-weight: 600;
}

.route-detail__PickUp,
.route-detail__DropOff {
    margin-left: 50px;
    /* display: flex; */
    /* justify-content: center; */
}

.route-detail__DropOff--heading,
.route-detail__PickUp--heading {
    min-width: 240px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-title-color);
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
}

.route-detail__DropOff--heading i,
.route-detail__PickUp--heading i {
    display: inline-block;
    margin-right: 5px;
}

.route-detail__DropOff--content,
.route-detail__PickUp--content {
    margin: 20px 50px;
}

.route-detail__DropOff,
.route-detail__PickUp {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.route-detail__time {
    color: var(--text-title-color);
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.route-detail__location {}

.policy-detail-Cancellation {
    margin: 10px 0 20px 0;
}

.policy-detail-Cancellation h3 {
    margin: 10px 0;
}

.policy-detail-Cancellation-time {
    text-align: center;
}

.policy-detail-Cancellation-timeLine .col-xl-6 {}

.policy-detail-Cancellation-timeLine {
    display: flex;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}

.policy-detail-Cancellation-timeLine--part:first-child {
    width: 100%;
    height: 30px;
    background-color: #ffb43b;
}

.policy-detail-Cancellation-timeLine--part:last-child {
    width: 100%;
    height: 30px;
    background-color: red;
}

.policy-detail-garage-item {}

.policy-detail-garage-item__content {
    list-style-type: disc;
}

.policy-detail-garage-item__content li:last-child {
    margin-bottom: 8px;
}

.rate-detail__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.rate-detail__heading-averageRate {
    min-width: 180px;
    padding: 6px;
    color: white;
    background-color: var(--text-title-color);
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.rate-detail__userComment-rate .fa-star,
.rate-detail__heading-fiveStarRate .fa-star {
    font-size: 1.6rem;
    color: #ffb43b;
}

.rate-detail__userComment-list {
    padding-left: 0;
    margin-top: 20px;
}

.rate-detail__userComment-item>i {
    display: inline-block;
    font-size: 1.4rem;
    padding: 10px;
    margin-right: 10px;
}

.rate-detail__userComment-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 5px 10px;
    margin: 12px 0;
    border-radius: 10px;
}

.rate-detail__userComment-wrap {
    flex-grow: 1;
}

.rate-detail__userComment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.rate-detail__userComment-rate .fa-star {
    font-size: 1.2rem;
}

.rate-detail__userComment-rate {}


/* Seat form */

.seat-form__container {
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.seat-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-title-color);
    font-weight: 600;
    max-height: 54px;
}

.seat-form__number_img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.seat-form__step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 54px;
    text-align: center;
    cursor: pointer;
}

.seat-form__step--active {
    background-color: rgba(0, 0, 0, 0.08);
}

.seat-form__seat-place {
    width: 250px;
    height: 350px;
    border-radius: 25px;
    background-color: rgb(211, 211, 211);
    padding: 25px;
    margin-right: 10px;
}

.seat-form__note {
    flex: 1;
}

.seat-form__seat {
    display: flex;
}

.seat-form__seat-condition {
    margin-left: 15px;
    font-weight: 400;
    display: flex;
    justify-content: right;
    align-items: center;
}

.seat-form__seat-img {
    width: 50px;
    height: 50px;
}

.seat-form__footer {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}

.seat-form__text {
    font-weight: 500;
    font-size: 18px;
}

.seat-form__price {
    font-weight: 500;
    font-size: 18px;
    color: var(--yellow-color);
    margin: 0 5px;
}

.coach-row td {
    display: inline-flex;
    padding: 0 3px 20px 3px;
    cursor: pointer;
}

.coach-row__seat {
    width: 60px;
    height: 60px;
}

.coach-row__seat img {
    width: 100%;
}


/* Information form */

.info-form__container {
    padding: 0 32px;
}

.info-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-title-color);
    font-weight: 600;
    max-height: 54px;
}

.info-form__number_img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.info-form__step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 54px;
    text-align: center;
    cursor: pointer;
}

.info-form__step--active {
    background-color: rgba(0, 0, 0, 0.08);
}

.info-form__form {
    margin-top: 16px;
}

.info-form__group {
    margin-top: 16px;
}

.info-form__group label {
    color: var(--text-title-color);
    font-weight: 600;
    font-size: 16px;
}

.info-form__input {
    width: 100%;
    height: 34px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 0 12px;
    font-size: 1rem;
    outline: none;
}

.info-form__input:focus {
    border-color: #777;
}

.info-form__footer {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

#info-form__note {
    width: 100%;
    outline: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: var(--text-color);
    padding: 8px;
    background-color: #fff;
}

.info-form__total {
    font-weight: 500;
    font-size: 18px;
    margin-left: 150px;
}

.info-form__price {
    font-weight: 700;
    font-size: 18px;
    color: var(--yellow-color);
}

.info-form-wrap-item {
    display: inline-flex;
    width: 100%;
}

.info-form_area-code {
    padding: 0 24px 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

table {
    border-color: #262626;
}


/* Location form */

.location-form__container {
    display: flex;
}

.location-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-title-color);
    font-weight: 600;
    max-height: 54px;
}

.location-form__number_img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.location-form__step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 54px;
    text-align: center;
    cursor: pointer;
}

.location-form__information {
    flex: 1;
}

.location-form__location {
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 8px;
}

.location-form__location label {
    font-weight: 600;
    font-size: 18px;
    color: var(--text-title-color)
}

.location-form__input {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 2px;
}

.location-form__nearest-location {}

.location-form__nearest-title {
    font-weight: 500;
    color: var(--text-title-color);
}

.location-form__nearest-start {
    color: var(--yellow-color);
    font-weight: 600;
    font-size: 16px;
    flex: 1;
}

.location-form__nearest-start-details {
    color: var(--text-title-color);
    font-size: 16px;
    line-height: 1.6;
    flex: 1;
}

.location-form__footer {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.location-form__total {
    font-weight: 500;
    font-size: 18px;
    margin-left: 150px;
}

.location-form__price {
    font-weight: 700;
    font-size: 18px;
    color: var(--yellow-color);
}

.location-form__address {
    display: flex;
}

.location-form__distance {
    color: #27AE60;
    font-size: 14px;
    line-height: 1.6;
}

.verticalLine {
    border-left: 1px solid #d9d9d9;
}

.location-form__step--active {
    background-color: rgba(0, 0, 0, 0.08);
}