<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .title{
            background-color: #ff9e00;
            border-radius: 8px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 class="title" style="color:#460a7f;">TICKETTAKEIT - YOUR TICKET !</h1>
    <h3 style="color:#333333D6;">Thank you for using our bus ticket booking service ! Below is your bus ticket</h3>
    <hr>
    <h4 style="color:#333333D6;">If you have any questions, please contact us via email: <i>tickettakeit@gmail.com</i></h4>
    
</body>
</html>